.cell {
    -fx-border-style: solid;
    -fx-stroke: white;
    -fx-stroke-width: 5;
}

.task-name-label {
    -fx-font: 22px Helvetica;
    -fx-font-weight: bold;
}

.date-label {
    -fx-font: 16px Helvetica;
}

