*.suo
*.user
*.ncb
Debug/
Release/
CodeAnalyst/
out/
.project
/bin/
out/**
.idea/workspace.xml
.idea/tasks.xml
.DS_Store
.classpath
*.json
.idea/artifacts
src/META-INF/
*.log
*.log.lck
*.log.*
testDirectory/
